body {
    background: lightCyan;
    color: darkgreen;
    font-family: "DFKai-SB";
}
h1 {
    background: linear-gradient(to right, blue , purple);;
    color: white;
    font-family: "DFKai-SB";
}

h2 {
    background: linear-gradient(to left, green , Cyan);;
    color: black;
    font-family: "DFKai-SB";
}

h3 {
    background: linear-gradient(to right, white , grey);;
    color: black;
    font-family: "DFKai-SB";
}